{{#> layout subject="Verify your new email with Flair" }}
  <h1>Verify your new email with Flair</h1>
  <p>You requested to change the the email address associated with your Flair account. Please confirm this change by clicking the button below.</p>
  {{> button
      url=verificationUrl
      text="Verify email"
      bgColor="#007BFF"
      textColor="#FFFFFF"
  }}
  <p>This link will expire in {{expiration}}.</p>
  <p>If you did not request this, please disregard this email.</p>
{{/layout}}
